@page
@model VP.OdeToFood.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>Just dipping my toes into ASP.NET following Scott Allen's (OdeToCode) ASP.NET instructions.</p>

