@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/foodcat.jpg" />
    <p>Find out how much I love food and where I like eat it...</p>
</div>
