@page "{restaurantId:int?}"
@model VP.OdeToFood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Editing @Model.Restaurant.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" />
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location"></label>
        <input asp-for="Restaurant.Location" />
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Cuisine"></label>
        <select class="form-control" asp-for="Restaurant.Cuisine" asp-items="@Model.Cuisines"></select>
    </div>
    <div class="input-group-append">
        <button style="margin-right:5px" class="btn btn-success" type="submit">
            <i class="fas fa-save"></i>
            Save
        </button>
        <a style="margin-right:5px" class="btn btn-warning" type="reset" asp-page="./List">
            <i class="fas fa-window-close"></i>
            Cancel
        </a>
        <a style="margin-right:5px" class="btn btn-danger" type="reset" asp-page="./Delete" asp-route-restaurantId="@Model.Restaurant.Id">
            <i class="fas fa-trash-alt"></i>
            Delete
        </a>
    </div>
</form>
@section Scripts { 
    <partial name="_ValidationScriptsPartial"/>
}

