@page
@model VP.OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input class="form-control" type="search" asp-for="SearchQuery" placeholder="Search restaurants by name"/>
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-search"></i>
                    Search
                </button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Cuisine</th>
    </tr>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>

<div>
    <p>@Model.Message</p>
</div>


